@model MatchdayMadness2.Models.Events

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Events</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Goals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Goals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shots)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shots)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YellowCards)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YellowCards)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RedCards)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RedCards)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fouls)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fouls)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Substitutions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Substitutions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Corners)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Corners)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FreeKicks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FreeKicks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Possession)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Possession)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
