@model MatchdayMadness2.Models.Standings

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Standings</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Points)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Points)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchesPlayed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchesPlayed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wins)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Draws)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Draws)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoalDifference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoalDifference)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
