@model MatchdayMadness2.Models.LiveMatchUpdates

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LiveMatchUpdates</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeTeam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayTeam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrenScoreHome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrenScoreHome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrenScoreAway)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrenScoreAway)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
